In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
spotify = pd.read_csv('final_spotify.csv')

In [4]:
spotify

,Unnamed: 0,region,date,month,spotify_id,artist,track_name,position,streams,danceability,...,acousticness,tempo,valence,explicit,temp,rain,snow,cloud,humidity,const
0,0,AUT,2019-01-02,1,7KPGeiXWDsGEvFK62wzU8E,Capital Bra,Benzema,1,35174,0.78,...,0.48,100.08,0.26,1.0,-5,1,1,48,69,1
1,1,AUT,2019-01-03,1,7KPGeiXWDsGEvFK62wzU8E,Capital Bra,Benzema,1,34237,0.78,...,0.48,100.08,0.26,1.0,-3,1,1,91,70,1
2,2,AUT,2019-01-04,1,7KPGeiXWDsGEvFK62wzU8E,Capital Bra,Benzema,1,35199,0.78,...,0.48,100.08,0.26,1.0,-2,0,0,14,75,1
3,3,AUT,2019-01-05,1,7KPGeiXWDsGEvFK62wzU8E,Capital Bra,Benzema,1,32559,0.78,...,0.48,100.08,0.26,1.0,0,0,0,47,80,1
4,4,AUT,2019-01-06,1,7KPGeiXWDsGEvFK62wzU8E,Capital Bra,Benzema,1,26956,0.78,...,0.48,100.08,0.26,1.0,0,1,0,80,74,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425904,1437643,SVK,2019-12-24,12,5mdNRmqCc8052dYppz1RQn,Jaromír Vomáčka,Veselé Vánoce,199,1973,0.80,...,0.82,125.82,0.80,0.0,6,1,0,84,82,1
1425905,1437644,SVK,2019-12-25,12,49qXO5HuAmm2MFJfqaTDWw,Rida Radar,Outro,137,1396,0.91,...,0.17,91.00,0.78,1.0,4,1,0,96,89,1
1425906,1437645,SVK,2019-12-26,12,49qXO5HuAmm2MFJfqaTDWw,Rida Radar,Outro,196,1200,0.91,...,0.17,91.00,0.78,1.0,4,1,0,91,79,1
1425907,1437646,SVK,2019-12-31,12,5SZn6pPcWotYJ9NxEElWbS,Karol Duchoň,Čardáš dvoch,131,1680,0.41,...,0.09,146.47,0.37,0.0,4,1,0,90,88,1
1425908,1437647,SVK,2019-12-31,12,4rC81ekhtVPM6PtZRPFbZ4,Romstar Vyškov,Kde si včera bol,155,1559,0.77,...,0.52,145.18,0.86,0.0,4,1,0,90,88,1

In [5]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425909 entries, 0 to 1425908
Data columns (total 26 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1425909 non-null  int64
 1   region            1425909 non-null  object
 2   date              1425909 non-null  object
 3   month             1425909 non-null  int64
 4   spotify_id        1425907 non-null  object
 5   artist            1425879 non-null  object
 6   track_name        1425880 non-null  object
 7   position          1425909 non-null  int64
 8   streams           1425909 non-null  int64
 9   danceability      1425907 non-null  float64
 10  energy            1425907 non-null  float64
 11  instrumentalness  1425907 non-null  float64
 12  key               1425907 non-null  float64
 13  liveness          1425907 non-null  float64
 14  loudness          1425907 non-null  float64
 15  speechiness       1425907 non-null  float64
 16  acousticness      1425907 non-null  float64
 17  tempo             1425907 non-null  float64
 18  valence           1425907 non-null  float64
 19  explicit          1425907 non-null  float64
 20  temp              1425909 non-null  int64
 21  rain              1425909 non-null  int64
 22  snow              1425909 non-null  int64
 23  cloud             1425909 non-null  int64
 24  humidity          1425909 non-null  int64
 25  const             1425909 non-null  int64
dtypes: float64(11), int64(10), object(5)
memory usage: 282.8+ MB

In [6]:
spotify.drop(['Unnamed: 0', 'spotify_id', 'const'], axis = 1, inplace=True)
spotify

,region,date,month,artist,track_name,position,streams,danceability,energy,instrumentalness,...,speechiness,acousticness,tempo,valence,explicit,temp,rain,snow,cloud,humidity
0,AUT,2019-01-02,1,Capital Bra,Benzema,1,35174,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-5,1,1,48,69
1,AUT,2019-01-03,1,Capital Bra,Benzema,1,34237,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-3,1,1,91,70
2,AUT,2019-01-04,1,Capital Bra,Benzema,1,35199,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-2,0,0,14,75
3,AUT,2019-01-05,1,Capital Bra,Benzema,1,32559,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,0,0,0,47,80
4,AUT,2019-01-06,1,Capital Bra,Benzema,1,26956,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,0,1,0,80,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425904,SVK,2019-12-24,12,Jaromír Vomáčka,Veselé Vánoce,199,1973,0.80,0.69,0.0,...,0.04,0.82,125.82,0.80,0.0,6,1,0,84,82
1425905,SVK,2019-12-25,12,Rida Radar,Outro,137,1396,0.91,0.71,0.0,...,0.25,0.17,91.00,0.78,1.0,4,1,0,96,89
1425906,SVK,2019-12-26,12,Rida Radar,Outro,196,1200,0.91,0.71,0.0,...,0.25,0.17,91.00,0.78,1.0,4,1,0,91,79
1425907,SVK,2019-12-31,12,Karol Duchoň,Čardáš dvoch,131,1680,0.41,0.86,0.0,...,0.12,0.09,146.47,0.37,0.0,4,1,0,90,88
1425908,SVK,2019-12-31,12,Romstar Vyškov,Kde si včera bol,155,1559,0.77,0.95,0.0,...,0.34,0.52,145.18,0.86,0.0,4,1,0,90,88

In [7]:
republic_records = ['9lokknine', 'Alec King', 'Allan Rayman', 'Aminé', 'Amy Winehouse', 'Angelica Vila', 'Anna Sofia',
                    'Anthony Ramos', 'Ariana Grande', 'Baby Goth', 'BabyJake', 'Bahamas', 'Belly', 'Ben Howard', 
                    'BENEE', 'Birdman', 'Black Atlass', 'blueface', 'bülow', 'Casanova', 'Cee Kay', 'Chelsea Cutler',
                    'City Morgue', 'Coi Leray', 'Conan Gray', 'DNCE', 'Drake', 'Duckwrth', 'Evie Irie', 'Felix Jaehn',
                    'Florence + the Machine', 'Freeman Young', 'G. Love', 'G6 Red Dot', 'gianni & kyle', 'Giorgio Moroder',
                    'Glass Animals', 'Gotye', 'Greta Van Fleet', 'Hailee Steinfeld', 'Harry Hudson', 'Hero The Band',
                    'Isaac Gracie', 'Isabela Merced', 'Jack Johnson', 'Jacquees', 'Jaden Smith', 'James Bay', 
                    'James Blake', 'Jeremy Zucker', 'Jessie J', 'John Mellencamp', 'John Newman', 'Jonas Brothers',
                    'Jordan McGraw', 'JP Cooper', 'Julia Michaels', 'JunkBunny', 'Kailee Morgue', 'Kash Doll', 
                    'Kate Tempest', 'KIAN', 'Kiana Ledé', 'Kid Cudi', 'Kungs', 'Landon Cube', 'Liam Payne', 
                    'Lil Tecca', 'Lil Wayne', 'Lil West', 'Lord Huron', 'Lorde', 'Lougotcash', 'LoveLeo', 'Lund',
                    'Madison Ryann Ward', 'Maelyn', 'Maja Kristina', 'Malachi', 'Metro Boomin', 'MIKA', 'Moby Rich',
                    'Møme', 'Monica Martin', 'NAV', 'Netsky', 'Nicki Minaj', 'Noah Kahan', 'Of Monsters and Men', 
                    'Oh Wonder', 'Pearl Jam', 'Phantogram', 'Phantoms', 'Pia Mia', 'Picture This', 'Pop Smoke', 
                    'Post Malone', 'Rich The Kid', 'Rilés', 'Ryland James', 'SG Lewis', 'Shaylen', 'Ski Mask The Slump God',
                    'Snow Patrol', 'Social House', 'somegirlnamedanna', 'Stromae', 'SwaVay', 'Taylor Swift', 'The Avett Brothers',
                    'The Command Sisters', 'The Score', 'The Spencer Lee Band', 'The Weeknd', 'Tiësto', 'TOMORROW X TOGETHER',
                    'TWICE', 'Two Feet', 'Volbeat', 'watt', 'Yellow Claw', 'Yung Gravy', 'Zig Mentality', 'ZZ Top']

In [8]:
spotify.dropna(inplace=True)
spotify

,region,date,month,artist,track_name,position,streams,danceability,energy,instrumentalness,...,speechiness,acousticness,tempo,valence,explicit,temp,rain,snow,cloud,humidity
0,AUT,2019-01-02,1,Capital Bra,Benzema,1,35174,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-5,1,1,48,69
1,AUT,2019-01-03,1,Capital Bra,Benzema,1,34237,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-3,1,1,91,70
2,AUT,2019-01-04,1,Capital Bra,Benzema,1,35199,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,-2,0,0,14,75
3,AUT,2019-01-05,1,Capital Bra,Benzema,1,32559,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,0,0,0,47,80
4,AUT,2019-01-06,1,Capital Bra,Benzema,1,26956,0.78,0.69,0.0,...,0.33,0.48,100.08,0.26,1.0,0,1,0,80,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1425904,SVK,2019-12-24,12,Jaromír Vomáčka,Veselé Vánoce,199,1973,0.80,0.69,0.0,...,0.04,0.82,125.82,0.80,0.0,6,1,0,84,82
1425905,SVK,2019-12-25,12,Rida Radar,Outro,137,1396,0.91,0.71,0.0,...,0.25,0.17,91.00,0.78,1.0,4,1,0,96,89
1425906,SVK,2019-12-26,12,Rida Radar,Outro,196,1200,0.91,0.71,0.0,...,0.25,0.17,91.00,0.78,1.0,4,1,0,91,79
1425907,SVK,2019-12-31,12,Karol Duchoň,Čardáš dvoch,131,1680,0.41,0.86,0.0,...,0.12,0.09,146.47,0.37,0.0,4,1,0,90,88
1425908,SVK,2019-12-31,12,Romstar Vyškov,Kde si včera bol,155,1559,0.77,0.95,0.0,...,0.34,0.52,145.18,0.86,0.0,4,1,0,90,88

In [9]:
sporep = spotify[spotify.artist.isin(republic_records)]

In [10]:
sporep

,region,date,month,artist,track_name,position,streams,danceability,energy,instrumentalness,...,speechiness,acousticness,tempo,valence,explicit,temp,rain,snow,cloud,humidity
17880,AUT,2019-01-02,1,Post Malone,Wow.,12,14150,0.83,0.54,0.00,...,0.18,0.16,99.95,0.38,1.0,-5,1,1,48,69
17881,AUT,2019-01-03,1,Post Malone,Wow.,11,14433,0.83,0.54,0.00,...,0.18,0.16,99.95,0.38,1.0,-3,1,1,91,70
17882,AUT,2019-01-04,1,Post Malone,Wow.,12,14827,0.83,0.54,0.00,...,0.18,0.16,99.95,0.38,1.0,-2,0,0,14,75
17883,AUT,2019-01-05,1,Post Malone,Wow.,11,13757,0.83,0.54,0.00,...,0.18,0.16,99.95,0.38,1.0,0,0,0,47,80
17884,AUT,2019-01-06,1,Post Malone,Wow.,10,12219,0.83,0.54,0.00,...,0.18,0.16,99.95,0.38,1.0,0,1,0,80,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399339,SWE,2019-08-02,8,Volbeat,Cheapside Sloggers,193,21802,0.42,0.93,0.05,...,0.05,0.00,142.07,0.36,0.0,26,0,0,8,46
1407171,SWE,2019-12-01,12,Liam Payne,"Let It Snow, Let It Snow, Let It Snow - Record...",177,27229,0.64,0.29,0.00,...,0.04,0.96,122.07,0.54,0.0,6,1,0,66,77
1407172,SWE,2019-12-22,12,Liam Payne,"Let It Snow, Let It Snow, Let It Snow - Record...",193,28612,0.64,0.29,0.00,...,0.04,0.96,122.07,0.54,0.0,7,0,0,19,54
1407173,SWE,2019-12-23,12,Liam Payne,"Let It Snow, Let It Snow, Let It Snow - Record...",169,36564,0.64,0.29,0.00,...,0.04,0.96,122.07,0.54,0.0,7,1,0,80,71
1407174,SWE,2019-12-24,12,Liam Payne,"Let It Snow, Let It Snow, Let It Snow - Record...",119,70920,0.64,0.29,0.00,...,0.04,0.96,122.07,0.54,0.0,6,1,0,84,82

In [11]:
sporep[['artist', 'region', 'streams']].groupby(['artist', 'region']).sum()

                        streams
artist        region
Ariana Grande AUT       7551488
              BEL      19579851
              CHE      12326138
              DEU     103815155
              DNK      21856206
...                         ...
Volbeat       FIN        108558
              NOR        383054
              SWE        582199
bülow         HUN          2188
              ROU          1623

[343 rows x 1 columns]

In [12]:
sporep.to_csv('sporep.csv')

In [13]:
a = spotify[['region', 'streams']].groupby(['region']).sum()
a

           streams
region
AUT      611787471
BEL      821862148
CHE      750750032
DEU     9479811621
DNK     1362060571
ESP     5705649522
FIN     1004484661
FRA     5442327697
GRC      218868773
HUN      265885342
IRL      908490296
ISL      105284844
ITA     6441343094
NLD     4175623875
NOR     1732555854
POL     1750855646
PRT      596073795
ROU      177575751
SVK      139614628
SWE     3085080861

In [14]:
b = sporep[['artist', 'region', 'streams']].groupby(['artist', 'region']).sum()
b

                        streams
artist        region
Ariana Grande AUT       7551488
              BEL      19579851
              CHE      12326138
              DEU     103815155
              DNK      21856206
...                         ...
Volbeat       FIN        108558
              NOR        383054
              SWE        582199
bülow         HUN          2188
              ROU          1623

[343 rows x 1 columns]

In [15]:
c = b*100/a
c

                       streams
artist        region
Ariana Grande AUT     1.234332
              BEL     2.382377
              CHE     1.641843
              DEU     1.095118
              DNK     1.604643
...                        ...
Volbeat       FIN     0.010807
              NOR     0.022109
              SWE     0.018871
bülow         HUN     0.000823
              ROU     0.000914

[343 rows x 1 columns]

In [63]:
a.to_csv('a.csv')

In [64]:
b.to_csv('b.csv')

In [65]:
c.to_csv('c.csv')